.bg-banner1{
    background-image: url('/sunset.jpg');
    height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-color{
  padding: 4px;
  border: 1px solid rgba(62, 199, 67, 0.605);
  border-radius: 10px;
background-color: rgba(40, 170, 57, 0.511);

}
